@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-top: 1em;
	color: #666;
}

a {
	color: #660000;
}

hr {
	border-top: 2px solid #333;
}

h1, h2, h3, h4 {
	font-family: "PT Sans Narrow", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
}

h1 {
	/*color:  #FFF;*/
	margin-bottom: 0em;
	/*padding: .1em;*/
	/*background-color: #333;*/
	display: inline-block;
	font-size: 5em;
}

div.main-content {
	color:	#666;
}

div.main-content ul {
	margin-left: 1.1em;
}

div.main-content ul li {
	margin: 1em 0;
	font-size: 1.1em;
}

div.main-content h3 {
	color:  #000000;
	margin-bottom: .5em;
	/*font-weight: normal;*/
}

div.sidebar-content h3 {
	color:  #FFF;
	margin-bottom: .2em;
	padding: .5em;
	background-color: #333;
	/*display: inline-block;*/
}

div.sidebar-content ul li {
	/*color:  #FFF;*/
	margin-bottom: .2em;
	padding: .5em;
	/*background-color: #333;*/
	display: inline-block;
	clear:both;
}


#code h1 {
	font-size:4em;
}
#gb-assets li {
	min-height: 5em;
}

#gb-assets .tags {
	display:none;
}
